<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!--Bootstrap-->
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/css/bootstrap.min.css" />
    <!--Font-awesome-->
    <link rel="stylesheet" asp-href-include="/lib/font-awesome/css/all.min.css" />
    <!--custom-->
    <link rel="stylesheet" asp-href-include="/custom/css/custom.css">
    <!--icon-->
    <link rel="icon" asp-href-include="/icons/favicon.ico" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script asp-src-include="/lib/bootstrap/js/bootstrap.min.js"></script>
    <div class="row text-center">
        <div class="mt-1 mb-1"><i class="fa-solid fa-copyright"></i> @DateTime.Now.Year Created by Tshepho</div>
    </div>
</body>
</html>
