@{
    ViewBag.Title = "About";
}


<p class="text-center">
    The purpose of this website is to assist users to find the network carrier of the cellphone number and to show further details if the number is on
    any social media.
</p>